name: Flatpak CI Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flatpak/flatpak-builder:latest
    steps:
      - uses: actions/checkout@v4

      - name: Create Flatpak user dir
        run: |
          mkdir -p ~/.local/share/flatpak
          flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
          flatpak install --user -y org.freedesktop.Sdk.Extension.node16//23.08

      - name: Build Flatpak
        run: |
          flatpak-builder --user --force-clean --install-deps-from=flathub --ccache --repo=repo builddir org.arkrinth.ArkRinth.yaml
